@media screen and (max-width: 1024px) {
  .box h1 {
    font-size: 2.3em;
  }
}
@media screen and (max-width: 816px) {
  .demo-Heading {
    justify-content: center;
    flex-direction: column-reverse;
    gap: 20px;
  }
  .box h1 {
    font-size: 1.9em;
  }
  .checkBox-Container {
    display: flex;
    flex-direction: column;
  }
  .box {
    padding: 20px;
  }
}
@media screen and (max-width: 450px) {
  .box h1 {
    font-size: 1.4em;
  }
  .checkboxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
