@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #ffd700;

}
.container {
  width: 100%;
}
.box {
  width: 60%;
  padding: 50px;
  /* background-color: rgba(0, 0, 0, 0.1); */
  background-color: #fff;
  margin: 50px auto;
  border-radius: 15px;
  text-align: center;
}
.box h1 {
  margin-bottom: 35px;
}
.display {
  position: relative;
}
/* <!-- Display Value Input --> */
#inputDisplay {
  width: 100%;
  padding: 5px 10px;
  outline: none;
  font-size: 24px;
  border-radius: 5px;
  border: 1px solid rgba(255, 213, 0, 0.5);
}
/* <!-- Password Show/Hidden --> */
.passIcon {
  padding: 10px 15px;
  font-size: 24px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
i.p-hidden {
  display: none;
}
/* <!-- Dialogue Box --> */
.dialogueBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  user-select: none;
}
.copy,
.copied {
  background-color: #ffd700;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s linear;
}
.copy:hover {
  background-color: #ffa400;
}
.copied {
  display: none;
}
.copied:hover {
  cursor: url("checkdouble.svg"), auto;
}
/* <!-- Password Checker --> */
.strongPass > i {
  color: green;
}
.strongPass,
.weakPass,
.empty {
  display: none;
}
.weakPass > i {
  color: #ff5733;
}
.empty {
  color: #ff5733;
}
/* <!-- Range Bar --> */
#rangeBar {
  width: 100%;
}
span#rangeDisplay {
  margin-left: 5px;
  font-weight: 600;
}
/* <!-- CheckBox --> */
.checkBox-Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  user-select: none;
}
.checkboxes {
  display: flex;
  align-items: center;
}
.checkboxes input[type="checkbox"] {
  margin: 0 3px 0 10px;
}
/* <!-- Button --> */
#btn {
  padding: 15px;
  font-size: 18px;
  width: 100%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ffd700;
  transition: all 0.3s linear;
  font-weight: 500;
}
#btn:hover {
  background-color: #ffa400;
  color: #fff;
}
